/*about page*/
#home-bread{
    text-decoration: none;
    color: #000;
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px 0 20px;
}
#home-bread:hover{
    color: #005438;
}
#current-bread{
    font-size: 30px;
    padding: 0 0 0 0;
}
.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    
}  
.picture-cart-fav{
    margin-top: 60px;
}
 p{
    max-width: 80%;  
    font-family: Tahoma, Georgia, Verdana;
    font-size: 20px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: normal;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: normal;
}
/*footer{
    position: absolute;
    bottom: 0;
}*/
#contact-grid{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    margin-top: 60px;
}
.sign-form input{
    margin-bottom: 20px;
    border: 1px solid #DFDDDD;
    width: 90%;
    height: 2rem;
}
.sign-button-div{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
#contact-link{
    color: #000;
}
#contact-link:hover{
    color: #DFDDDD;
}
@media (max-width:810px){
 
/*footer{
    position: static;
}*/
.sign-button-div{
    margin-bottom: 20px;
}
/*main{
    height: 80vmax; 
    padding-bottom: 45%;
}*/
}