#right-text :nth-child(1) { order: 3; }
#right-text :nth-child(2) { order: 4; }
#right-text :nth-child(3) { order: 7; }
#right-text :nth-child(4) { order: 1; }
#right-text :nth-child(5) { order: 2; }
#right-text :nth-child(6) { order: 5; }
#right-text :nth-child(7) { order: 6; }

#product-button1{
    margin-bottom: 10px;
    display: block;
}
#go-to-cart-link{
    margin-bottom: 20px;
    font-weight: bold;
}
#go-to-cart-link:hover{
    color: #005438;
}