body {
  font-family: Tahoma, Georgia, Verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header*************************************************************************************************/
.visibility {
  display: block;
}
.logo,
.logo1 {
  width: 150px;
  margin: 5px;
}
#header-box {
  background-color: #005438;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid #dfdddd;
  margin: 1rem 0;
  padding: 0;
  border: none;
}
nav li {
  display: block;
  padding: 1rem 0;
}
nav a {
  text-decoration: none;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #253631;
  padding: 0px 20px 0px 20px;
}
nav a:hover {
  text-decoration: underline;
  color: #253631;
}
.current {
  text-decoration: underline;
}
nav label,
#navigation {
  display: none;
}
#header-side {
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  position: relative;
}
#side-icons {
  display: block;
  position: relative;
}
#side-icons label {
  cursor: pointer;
}
#sides-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 5px;
}
#side-icons img {
  padding: 10px 0 0 20px;
}
.sign {
  text-decoration: none;
  color: #fff;
}
#sign-nav {
  display: none;
  position: absolute;
  top: 40px;
  padding: 0;
  margin: 0;
  transform: translateX(-20%);
}

#search-button {
  background-color: #fff;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  cursor: pointer;
}
#btnG {
  display: none;
}
input {
  outline: none;
  font-size: 1rem;
}
#sign-nav li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
}
#your-page {
  display: none;
}
#your-page:checked ~ #sign-nav {
  display: block;
}
#search {
  width: 292px;
  height: 53px;
  border: 3px solid #005438;
  border-right: #fff;
  padding: 0 0.5rem;
}

/*footer**********************************************************************************************************/
#footer-block {
  background-color: #005438;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1rem;
  flex-wrap: wrap;
}
#branding {
  height: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #dfdddd;
  border-left: 1px solid #dfdddd;
  border-right: 1px solid #dfdddd;
  padding-bottom: 5px;
  padding-top: 3px;
}
#branding li {
  display: inline-block;
}
#footer-list {
  padding: 0;
  margin: 5px;
}
#footer-list li {
  list-style-type: none;
  font-family: Tahoma, Georgia, Verdana;
}
#dynamic::before {
  content: "DYNAMIC";
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2vw;
  font-style: italic;
}
#durable::before {
  content: "Durable";
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  letter-spacing: 0.57em;
}
#active::before {
  content: "ACTIVE";
  font-size: 1.2vw;
  color: #0a72f9;
}
#natural::before {
  content: "Natural";
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.2vw;
  color: #005438;
}
#comfortable::before {
  content: "Comfortable";
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2vw;
}
#powerful::before {
  content: "POWERFUL";
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.2vw;
}
footer li a {
  color: #dfdddd;
  text-decoration: none;
  font-size: 1.2rem;
}

#social-net img {
  padding: 20px 20px 20px 20px;
  opacity: 0.6;
}
#footer-list li {
  padding: 1rem;
}
footer {
  width: 100%;
  height: 100px;
  margin: 0;
}
main {
  margin: 0;
  padding-bottom: 100px;
  min-height: 100vh;
}
.category-name {
  margin: 100px 0;
  background-color: #005438;
  color: #fff;
  padding: 10px;
}
/*home-page**********************************************************************************************************************************/
.cover {
  display: flex;
  height: 40vw;
  background-image: url(../../images/cover.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.cover h1 {
  padding: 0;
  margin: 0;
}
.cover-text {
  text-decoration: none;
  color: #dfdddd;
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: -3px 4px #000;
  transition: opacity 0.3s ease-in-out;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0.8rem;
}
.cover-text:hover {
  opacity: 0.4;
}
#cat-div {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.new-products,
.new-products-men,
.new-products-women,
.new-products-kids {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 1rem 3rem 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px auto;
}
.new-products h2,
.new-products-men h2,
.new-products-women h2,
.new-products-kids h2 {
  position: absolute;
  color: #005438;
  text-align: center;
  top: 0px;
  z-index: 10;
}
.new-products div,
.new-products-men div,
.new-products-women div,
.new-products-kids div {
  margin: 20px 10px;

  position: relative;
}
.new-products div img,
.new-products-men div img,
.new-products-women div img,
.new-products-kids div img {
  z-index: 9;
  transition: transform 0.3s ease-in-out;
  padding-bottom: 10px;
  height: 250px;
}
.new-products div img:hover,
.new-products-men div img:hover,
.new-products-women div img:hover,
.new-products-kids div img:hover {
  transform: scaleX(1.1) scaleY(1.1);
}

/*sorting of products and new container*************************************************************/

.sort-products {
  padding-top: 70px;
  max-width: 1683px;
  margin: 0 auto;
}
.sort-products select {
  padding: 0.7rem 2rem 0.7rem 0;
  font-size: 1.1rem;
  border: none;
  color: #253631;
  /*removes arrow*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  /*adds arrow*/
  background: url("/images/drop-down-arrow.png");
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-position: right 5px top 14px;
}

/*Loader****************************************************************/

.loader {
  border: 136px solid rgb(228, 228, 228);
  border-top: 136px solid #253631;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*API error*************************************************************/

.errorApi {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Bread Crumbs**********************************************************/

#home-bread {
  text-decoration: none;
  color: #005438;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 5px 0 20px;
}
#home-bread:hover {
  color: #000;
}
#current-bread {
  font-size: 1.5rem;
  padding: 0 0 0 0;
  font-family: Tahoma, Georgia, Verdana;
}

.new-products h3,
.new-products-men h3,
.new-products-women h3,
.new-products-kids h3 {
  text-align: center;
  margin-top: 5px;
  color: #005438;
}
.mini-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0px;
  padding: 3rem 1rem;
}
.mini {
  max-width: 100%;
  margin: 5px;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}
.mini:hover {
  opacity: 0.7;
}
.main {
  max-width: 100%;
  height: auto;
  padding-bottom: 3rem;
  width: 100vw;
  height: auto;
}
h1 {
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #253631;
  font-weight: normal;
}
h2 {
  font-family: Georgia, serif;
  font-size: 1.5rem;
}
h3 {
  font-family: Tahoma, Georgia, serif;
  font-size: 1.2rem;
  font-weight: normal;
}
/*sort products***********************************/

.sort-products select {
  margin: 20px 0 0 20px;
}
/*form******************************************************************************/
.form__input {
  display: block;
  height: 30px;
  min-width: 180px;
}
.form-body,
.payment-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.payment-title {
  margin-top: 30px;
}
.payment-form-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-field1,
.form-field2 {
  margin: 30px 40px;
}
.payment-form input {
  margin-bottom: 10px;
}
#finish-button {
  border: 1px solid #005438;
  padding: 15px;
  margin: 10px 0;
  background-color: #005438;
  color: #fff;
  width: 250px;
}
#finish-button:hover {
  cursor: pointer;
  color: #005438;
  background-color: #fff;
}
#back-to-homepage {
  color: #005438;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.error {
  display: none;
  color: red;
  font-size: 14px;
  max-width: 180px;
  margin: 0 0 20px 0;
}

/*sign up and sign in pages form*/
.sign-form {
  padding-left: 25px;
}

/*favourites*/
#product-button {
  text-decoration: none;
  color: #fff;
  background-color: #005438;
  padding: 15px;
  display: flex;
  justify-content: center;
  width: 250px;
  margin-top: 20px;
}
#product-button:hover {
  background-color: #000;
}
#product-button1 {
  text-decoration: none;
  color: #fff;
  background-color: #dfdddd;
  padding: 15px;
  display: flex;
  justify-content: center;
  width: 250px;
  margin-top: 20px;
}
#product-button1 {
  cursor: default;
}
/*cart*/
.cart-button-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cart-button {
  text-decoration: none;
  color: #fff;
  background-color: #005438;
  padding: 15px;
  width: 250px;
  text-align: center;
}
#cart-button:hover {
  background-color: #000;
}
#cart-button2 {
  text-decoration: none;
  color: #fff;
  background-color: #dfdddd;
  padding: 15px;
  margin: 20px;
  cursor: default;
}
#link-to-payment {
  text-decoration: none;
  color: #005438;
  text-shadow: -1px 1px #888888;
  font-weight: bold;
  padding: 10px;
}
#link-to-payment:hover {
  color: #dfdddd;
  text-shadow: -1px 1px #005438;
}
/*Sign in - Sign up*/
.sign-button {
  text-decoration: none;
  border: 1px solid #005438;
  padding: 15px;
  width: 250px;
  display: inline-block;
  margin: 10px 0;
  color: #fff;
  background-color: #005438;
  cursor: pointer;
  font-size: 19px;
}
.sign-button:hover {
  color: #005438;
  background-color: #fff;
}
.sign-button:disabled {
  color: #005438;
}
@media (max-width: 920px) {
  /* Smaller Screen Global */
  .cover {
    display: none;
  }
  main {
    background: none;
  }
  .main-banner img {
    display: none;
  }
  .mini-banner {
    margin: 0;
    padding: 48px 0;
  }
  .mini-banner a {
    width: 100%;
  }
  .mini {
    width: 100%;
    padding: 0;
    margin: 10px 0;
  }
  #header-box {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 20px 10px;
    justify-content: center;
    align-items: baseline;
  }
  #side-icons {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #sides-2 {
    padding-bottom: 122px;
  }
  #header-side {
    position: absolute;
    top: 65px;
    left: 20px;
    margin-top: 100px;
    width: 93%;
    border-bottom: 1px solid #005438;
  }
  #side-icons img {
    width: 20px;
    height: auto;
  }
  #sign-nav {
    top: 31px;
    padding: 10px 10px 10px 60px;
    background-color: #005438;
    transform: translateX(-48%);
  }
  #sign-nav li {
    padding: 10px;
    text-align: center;
    background: #dfdddd;
    border-radius: 50%;
    margin: 5px;
  }
  #sign-nav a {
    color: #005438;
    font-weight: bold;
  }
  #search {
    width: 50vw;
    border: none;
  }
  #search-button {
    border: none;
    position: absolute;
    right: 7px;
  }
  #your-page:checked ~ #sign-nav {
    display: flex;
  }
  nav label {
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
  }
  nav ul {
    display: none;
    margin-top: 67px;
    background-color: #000;
    text-align: center;
    padding: 20px 0;
  }

  nav a {
    padding: 0px 10px 0px 10px;
    color: #fff;
  }
  .category-name {
    margin-top: 100px;
  }

  .new-products h2 {
    width: 80px;
  }

  #footer-block {
    display: flex;
    flex-direction: column;
  }
  #footer-list {
    margin: 30px 0;
    padding: 0;
  }
  #footer-list li {
    float: left;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 1px;
  }

  #social-net {
    margin: 30px 0;
    padding: 0;
  }
  #social-net img {
    padding: 20px 10px 10px 10px;
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(180deg) brightness(0%)
      contrast(100%);
    opacity: 0.4;
  }
  .logo {
    width: 100px;
    height: auto;
    padding: 15px 0 0 20px;
  }
  .logo1 {
    display: none;
  }
  #footer-block :nth-child(1) {
    order: 3;
  }
  #footer-block :nth-child(2) {
    order: 2;
  }
  #footer-block :nth-child(3) {
    order: 1;
  }

  /*about*/
  #bread-crumbs {
    display: none;
  }
  .about-contact {
    margin-top: 20%;
  }
}
@media (max-width: 626px) {
  #dynamic::before {
    font-size: 1.5vw;
  }
  #durable::before {
    font-size: 1.5vw;
  }
  #active::before {
    font-size: 1.5vw;
  }
  #natural::before {
    font-size: 1.5vw;
  }
  #comfortable::before {
    font-size: 1.5vw;
  }
  #powerful::before {
    font-size: 1.5vw;
  }
}
@media (max-width: 380px) {
  footer li a {
    font-size: 14px;
  }
}
/*sign up and sign in pages form*/

@media (max-width: 806px) {
  .payment-card-icons img {
    width: 200px;
  }
}
@media (max-width: 626px) {
  .payment-card-icons img {
    width: 150px;
  }
}
@media (max-width: 597px) {
  .payment-title h2 {
    text-align: center;
  }
}
@media (max-width: 476px) {
  .payment-card-icons img {
    width: 100px;
  }
}
@media (max-width: 534px) {
  .payment-form-div {
    flex-direction: column;
    align-content: center;
  }
}
