/*header*/
#header-box{
    background-color: #005438;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 50px 20px 50px;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid #DFDDDD;
    margin-bottom: 0;
    padding: 0;
}
nav li{
    display: block;
    padding-top: 10px;
    padding-bottom: 15px;
}
nav a {
    text-decoration: none;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #253631;
    padding: 0px 20px 0px 20px;
}
nav a:hover{
    text-decoration: underline;
    color: #253631;
}
.current{
    text-decoration: underline;
}
nav label, #navigation{
    display: none;
}
#header-side{
    display: flex;
    align-items: center;
}
#side-icons{
    display: block;
}    
#side-icons label{
    cursor: pointer;
}
#sides-2{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
#side-icons img{
    padding: 10px 0 0 20px;
}
.sign{
    text-decoration: none;
    color: #fff;
}
#sign-nav{
    display: none;
    position: absolute;
    top: 80px;
    right: 120px;
}
#search-button{
    background-color: #fff;
    padding: 8px 3px 8px 3px;
    border: 3px solid #DFDDDD;
    border-left: #fff;
}
input{ 
    outline: none;
}
#sign-nav li{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}
#your-page{
    display: none;
}
#your-page:checked ~ #sign-nav{
    display: block;
}
#search{
    width: 292px;
    height: 53px;
    border: 3px solid #DFDDDD;
    border-right: #fff;
}

/*footer*/
#footer-block{
    background-color: #253631;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    flex-wrap: wrap;
    
}
#branding {
    background-color:#DFDDDD ;
    height: 2.875rem;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#branding li{
    display: inline-block;
}
#footer-list li{
   list-style-type: none;
   font-family: Tahoma, Georgia, Verdana;
}
#dynamic::before {
    content: "DYNAMIC";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-style: italic;
}
#durable::before {
    content: "Durable";
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing:0.57em;
}
#active::before {
    content: "ACTIVE";
    font-size: 2vw;
    color: #0A72F9;
}
#natural::before {
    content: "Natural";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2vw;
    color: #005438;
}
#comfortable::before {
    content: "Comfortable";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75em;
    font-size: 2vw;
}
#powerful::before {
    content: "POWERFUL";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 2vw;
}
footer li a{
    color: #DFDDDD;
    text-decoration: none;
}
#social-net{
    padding-bottom: 40px;
    padding-top: 30px;
}
#social-net img{
    padding: 20px 20px 20px 20px;   
}
#footer-list li{
    padding: 10px 20px 10px 5px;
}
footer{
    width: 100%;
    height: 100px;
    margin: 0;
}
main{
    margin: 0;
    padding-bottom: 100px;
    min-height: 100vw;
}
/*home-page*/
#cat-div{
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.new-products{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 1rem 3rem 1rem;
    align-items: center;
    flex-wrap: wrap;
}
.mini-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.mini{
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
    height: auto;
}
.main{
    max-width: 100%;
    height: auto;
    padding-bottom: 3rem;
    width: 100vw;
    height: auto;
}
h1{
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #253631;
    font-weight: normal;
}
h2{
    font-family: Georgia,  serif;
    font-size: 30px;
}
h3{
    font-family: Tahoma, Georgia, serif ;
    font-size: 20px;
    font-weight: normal;   
}
/*form*/
.form__input{
    display: block;
}
/*favourites*/
#favor-button{
    border: 1px solid #DFDDDD;
    padding: 15px 55px 5px 45px;
    background-color: #000;
    margin-bottom: 20px;
}
#favor-button:hover{
    background-color: #005438;
}
/*cart*/
#cart-button{
    text-decoration: none;
    color: #FFF;
    background-color: #000;
    padding: 10px 45px 10px 35px;
    margin-bottom: 20px;
}
#cart-button:hover{
    background-color: #005438;
}
#cart-button2{
    text-decoration: none;
    color: #FFF;
    background-color: #888888;
    padding: 10px 45px 10px 35px;
    margin-bottom: 20px;
    cursor: default;
}
#link-to-payment{
    text-decoration: none;
    color: #888888;
    font-weight: bold;
}
#link-to-payment:hover{
    color:#005438;
}
/*Sign in - Sign up*/
.sign-button{
    text-decoration: none;
    border: 1px solid #005438;
    padding: 7px 25px 7px 25px;
    display: inline-block;
    margin-top: 10px;
    color:#005438;
}
.sign-button:hover{
    color: #FFF;
    background-color: #005438;
}
@media (max-width:810px)
{
    /* Smaller Screen */
    main{
        background: none;
    }
    .main-banner img{
          display: none;
        }

    .mini{
        height: 40vw;
        width: auto;
    }    
    #header-box{
          display: flex;
          flex-direction: column;
          padding: 10px 10px 20px 10px;
        }    
    #side-icons{
        position: absolute;
        top:20px;
        right: 20px;
    }
    #sides-2{
        padding-bottom: 122px;
    }
    #header-side{
        position: absolute;
        top: 60px;
        left: 20px;
        margin-top: 100px;
        width: 93%;
        border-bottom: 1px solid #005438;
    }
    #side-icons img{
        width: 20px;
        height: auto;
    }
    #sign-nav{
        position: absolute;
        top: 15px;
        right: 38px;
        padding: 0 0 15px 0;
        border: 1px solid #DFDDDD;
        border-radius: 30px;
        background-color: #DFDDDD;
    }
    #sign-nav li{
        padding: 20px 15px 0 15px;
    }
    #sign-nav a{
        color: #005438;
        font-weight: bold;
    }
    #search{
        width: 50vw;
        border:none;
    }
    #search-button{
        border: none;
        position: absolute;
        right: 7px;
    }
    #your-page:checked ~ #sign-nav{
        display: flex;
    }
    #navigation:checked ~ #nav-list{
        display: block;
    }
    nav label{
        display: block;
        position: absolute;
        top: 30px;
        left: 20px;
    }
    nav ul{
        display: none;
        margin-top: 67px;
        background-color: #000;
    }
    
    nav a{
        padding: 0px 10px 0px 10px;
        font-size: 30px;
        color: #FFF;
    }
    /*
    nav ul{
        justify-content: space-between;
        padding-left: 25px;
    }
    nav li{
        padding-right: 20px;
    }
    #outlet-a{
        padding: 0 20px 0 20px;
    }
    */
    .category-name{
        margin-top: 80px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #footer-block{
        display: flex;
        flex-direction: column;
    }
    #footer-list{
        padding: 0;
    }
    #footer-list li{
        float: left;
        padding: 0px 15px 10px 15px;
        border-radius: 10px;
        margin:1px;
    }
    #social-net{
        padding:0;
    }
    #social-net img{
        padding: 20px 10px 0 10px;
        filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(180deg) brightness(0%) contrast(100%);
    }
    .logo{
        position: absolute;
        top: 65px;
        right:40%;
        width: 100px;
        height: auto;
        padding: 15px 0 0 20px;
    }
    .logo1{
        width: 100px;
        margin-top: 10px;
    }
    /*footer{
        position: static;
        bottom: 0;
    }*/
    #footer-block :nth-child(1) { order: 3; }
    #footer-block :nth-child(2) { order: 2; }
    #footer-block :nth-child(3) { order: 1; }
    
/*about*/
#bread-crumbs{
    display: none;
}
.about-contact{
    margin-top: 20%;
}
