/*header*/
#header-box{
    background-color: #005438;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 50px 20px 50px;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav li{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a {
    text-decoration: none;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #253631;
    padding: 0px 20px 0px 20px;
}
nav a:hover{
    text-decoration: underline;
    color: #253631;
}
#header-side{
    display: flex;
    align-items: center;
}
#side-icons{
    display: block;
}    
#sides-2{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
#side-icons img{
    padding: 10px 0 0 20px;
}
.sign{
    text-decoration: none;
    color: #fff;
}
#sign-nav{
    display: none;
    position: absolute;
    top: 80px;
    right: 135px;
}
#search-button{
    background-color: #fff;
    padding: 8px 3px 8px 3px;
    border: 3px solid #DFDDDD;
    border-left: #fff;
}
input{ 
    outline: none;
}
#sign-nav li{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}
#your-page{
    display: none;
}
#your-page:checked ~ #sign-nav{
    display: block;
}
#search{
    width: 292px;
    height: 53px;
    border: 3px solid #DFDDDD;
    border-right: #fff;
}

/*footer*/
#footer-block{
    background-color: #253631;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    flex-wrap: wrap;
}

#footer-block :nth-child(1) { order: 3; }
#footer-block :nth-child(2) { order: 2; }
#footer-block :nth-child(3) { order: 1; }

#branding {
    background-color:#DFDDDD ;
    height: 2.875rem;   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#branding li{
    display: inline-block;
}
#footer-list li{
   list-style-type: none;
   font-family: Tahoma, Georgia, Verdana;
}
#dynamic::before {
    content: "DYNAMIC";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-style: italic;
}
#durable::before {
    content: "Durable";
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing:0.57em;
}
#active::before {
    content: "ACTIVE";
    font-size: 2vw;
    color: #0A72F9;
}
#natural::before {
    content: "Natural";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2vw;
    color: #005438;
}
#comfortable::before {
    content: "Comfortable";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75em;
    font-size: 2vw;
}
#powerful::before {
    content: "POWERFUL";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 2vw;
}
footer li a{
    color: #DFDDDD;
    text-decoration: none;
}
#social-net{
    padding-bottom: 40px;
    padding-top: 30px;
}
#social-net img{
    padding: 20px 20px 20px 20px;   
}
#footer-list li{
    padding: 10px 20px 10px 5px;
}
/*home-page*/
.new-products{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 1rem 3rem 1rem;
    align-items: center;
    flex-wrap: wrap;
}
.mini-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.mini{
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
    height: auto;
}
.main{
    max-width: 100%;
    height: auto;
    padding-bottom: 3rem;
    width: 100vw;
    height: auto;
}

h2{
    font-family: Georgia,  serif;
    font-size: 30px;
}
h3{
    font-family: Tahoma, Georgia, serif ;
    font-size: 20px;
    font-weight: normal;
}
@media (max-width:800px)
{
    /* Smaller Screen */
    .main-banner img{
          height: 60vw;
          width: auto;
        }
    .mini{
        height: 60vw;
        width: auto;
    }    
    #header-box{
          display: flex;
          flex-direction: column;
          padding: 10px 10px 20px 10px;
        }    
    #side-icons{
        position: absolute;
        top:20px;
        right: 20px;
    }
    #header-side{
        padding-top: 20px;
    }
    /*
    #side-icons img{
        padding-right: 3px;
        background-color:  #DFDDDD;
        padding-left: 3px;
        border-radius: 10px;
        padding-top: 3px;
        border: 1px solid #fff;
    }
    */
    #side-icons img{
        width: 20px;
        height: auto;
    }
    #sign-nav{
        position: absolute;
        top: 25px;
        right: 50px;
    }
    #sign-nav li{
        padding-top: 20px;
    }
    #your-page:checked ~ #sign-nav{
        display: flex;
    }
    nav a{
        padding: 0px 10px 0px 10px;
        border: 1px solid #005438;   
    }
    nav ul{
        justify-content: space-between;
        padding-left: 25px;
    }
    nav li{
        padding-right: 20px;
    }
    #outlet-a{
        padding: 0 28px 0 28px;
    }
    #footer-block{
        display: flex;
        flex-direction: column;
    }
    #footer-list{
        padding: 0;
    }
    #footer-list li{
        float: left;
        padding: 10px 10px 10px 10px;
        border: 3px solid #DFDDDD;
        border-radius: 10px;
        margin:1px;
    }
    #social-net img{
        padding: 30px 10px 10px 10px;
    }
    .logo{
        padding: 0px 20px 50px 0;
        width: 50%;
        height: auto;
    }
}